@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0px 5px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  font-size: 14px;
  color: grey;
  padding: 8px;
}

.header{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons{
  display: flex;
  gap: 4px
}